@page "/protect"
@{
}

<h1>Protect</h1>
<p>This component obfuscates file.</p>

<div style="display:flex; column-gap: 5px; justify-content:flex-start">
    <div>
        <InputFile class="btn btn-primary" OnChange="OnObfuscationFileChangeAsync" />
    </div>
    <div>
        <button class="btn btn-primary" @onclick="PickDependenciesFolderAsync">Dependencies folder</button>
    </div>
    <div>
        <button @onclick="ObfuscateFileAsync" class="btn btn-primary">Protect</button>
    </div>
</div>

@if (string.IsNullOrEmpty(Message) == false)
{
    <p role="status">@Message</p>
}