<div class="modal fade" id="@nameof(CreateProtectionModal)" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <EditForm Model="Model" OnValidSubmit="SubmitAsync">
                <div class="modal-header">
                    <h5 class="modal-title">Create new Product</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Category</label>
                        <InputSelect class="form-control" @bind-Value="Model.Name">
                            @foreach (var protectionSetting in Collection)
                            {
                                <option value="@protectionSetting.Name">@protectionSetting.Name</option>
                            }
                        </InputSelect>
                        <div class="form-text">Set the category of your product</div>
                    </div>

                    <DataAnnotationsValidator />
                    <ValidationSummary />
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                    @if (isLoading)
                    {
                        <LoadingButton />
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary">Create</button>
                    }
                </div>
            </EditForm>            
        </div>
    </div>
</div>
